@tailwind base;
@tailwind components;

.btn {
    @apply text-xs font-bold py-1 px-2 rounded;
}

.btn-secondary {
    @apply bg-secondary-500 text-white;
}
.btn-secondary:hover {
    @apply bg-secondary-700
}

.contact-icon {
    @apply fill-current w-4 h-4 mr-4 text-secondary-500;
}

.contact-link {
    @apply text-sm;
}

.contact-link:hover {
    @apply text-secondary-500;
}

.section-header {
    @apply text-primary-500 text-xl border-l-4 border-primary-500 pl-3 font-bold;
}

.item-header {
    @apply text-xl font-bold tracking-tight leading-relaxed text-neutral-700;
}

.item-sub {
    @apply text-neutral-600 tracking-wide text-sm;
}

.tag {
    @apply px-2 py-1 mr-2 mb-2 bg-primary-500 text-sm text-white inline-block capitalize font-light rounded;
}

.footer-social-link {
    @apply text-primary-900 mr-4;
}

.footer-social-link:hover {
    @apply text-primary-500;
}

.footer-social-icon {
    @apply h-6 fill-current;
}

.ui[class*="left pointing"].label:before {
    z-index: 0 !important;
}

.ui.violet.button, .ui.violet.buttons .button {
    background-color: #5B4F96 !important;
    transition: background-color 0.5s;
}

.ui.violet.button:hover, .ui.violet.buttons .button:hover {
    background-color: #42396d !important;
}

.ui[class*="right labeled"].icon.button>.icon:not(.checkmark) {
    background-color: #695ca9 !important;
    transition: background-color 0.5s;
}

.ui.dropdown>.dropdown.icon {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    display: none !important;
}

.ui.dropdown>.dropdown.icon:before {
    content: '';
}

@media only screen and (max-width: 483px) {
    .color-picker-container {
        margin-top: 1.5rem;
    }
}

@tailwind utilities;
